BlockPose(
  parts: [
    (name:"ShoulderR", rotation:(0.0, 0.0, 0.1, 0.99)),
    (name:"ArmR", rotation:(0.0, 0.0, 0.0, 1.0)),
    (name:"HandR", rotation:(-0.1, 0.0, 0.0, 0.99)),
    (name:"Torso", rotation:(0.0, 0.0, 0.0, 1.0)),
  ]
)
