BlockPose(
  parts: [
    // Зеркалим: корпус вправо
    (name:"Torso",     rotation:( 0.000,-0.122, 0.000, 0.993)),

    // Хвост изгиб вправо
    (name:"TailBase",  rotation:( 0.000,-0.190, 0.000, 0.982)),
    (name:"TailMid",   rotation:( 0.000,-0.320, 0.000, 0.948)),
    (name:"TailTip",   rotation:( 0.000,-0.430, 0.000, 0.903)),

    // Плечи зеркально
    (name:"ShoulderL", rotation:( 0.000, 0.000, -0.100, 0.995)),
    (name:"ShoulderR", rotation:( 0.000, 0.000,  0.550, 0.835)),

    // Кисти зеркально
    (name:"HandL",     rotation:(-0.050, 0.000, 0.000, 0.999)),
    (name:"HandR",     rotation:(-0.200, 0.000, 0.000, 0.980)),
  ]
)
