(
    parts: {
        "Head": (
            name: "Head",
            pos: (0.0, 0.0, 0.0),
            size: (1.2, 1.2, 1.2),
        ),
        "Seg1": (name: "Seg1", pos: (0.0, 0.0, 0.0), size: (0.8, 0.8, 0.8)),
        "Seg2": (name: "Seg2", pos: (0.0, 0.0, 0.0), size: (0.8, 0.8, 0.8)),
        "Seg3": (name: "Seg3", pos: (0.0, 0.0, 0.0), size: (0.8, 0.8, 0.8)),
        "Seg4": (name: "Seg4", pos: (0.0, 0.0, 0.0), size: (0.8, 0.8, 0.8)),
        "Seg5": (name: "Seg5", pos: (0.0, 0.0, 0.0), size: (0.8, 0.8, 0.8)),
        "Seg6": (name: "Seg6", pos: (0.0, 0.0, 0.0), size: (0.8, 0.8, 0.8)),
        "Seg7": (name: "Seg7", pos: (0.0, 0.0, 0.0), size: (0.8, 0.8, 0.8)),
        "Seg8": (name: "Seg8", pos: (0.0, 0.0, 0.0), size: (0.8, 0.8, 0.8)),
        "Seg9": (name: "Seg9", pos: (0.0, 0.0, 0.0), size: (0.8, 0.8, 0.8)),
        "Seg10": (name: "Seg10", pos: (0.0, 0.0, 0.0), size: (0.8, 0.8, 0.8)),
        "Seg11": (name: "Seg11", pos: (0.0, 0.0, 0.0), size: (0.8, 0.8, 0.8)),
        "Seg12": (name: "Seg12", pos: (0.0, 0.0, 0.0), size: (0.8, 0.8, 0.8)),
        "Seg13": (name: "Seg13", pos: (0.0, 0.0, 0.0), size: (0.8, 0.8, 0.8)),
        "Seg14": (name: "Seg14", pos: (0.0, 0.0, 0.0), size: (0.8, 0.8, 0.8)),
        "Seg15": (name: "Seg15", pos: (0.0, 0.0, 0.0), size: (0.8, 0.8, 0.8)),
        "Seg16": (name: "Seg16", pos: (0.0, 0.0, 0.0), size: (0.8, 0.8, 0.8)),
        "Tail": (
            name: "Tail",
            pos: (0.0, 0.0, 0.0),
            size: (0.8, 0.8, 0.8),
        ),
    },
)
