BlockPose(
  parts: [
    // сильный «замах» вниз
    (name:"Neck1", rotation:(-0.30, 0.0, 0.0, 0.95)),
    (name:"Neck2", rotation:(-0.15, 0.0, 0.0, 0.99)),
    (name:"Head",  rotation:( 0.00, 0.0, 0.0, 1.00)),
    (name:"Torso", rotation:(-0.15, 0.0, 0.0, 0.98)),
    (name:"ShoulderL", rotation:( 0.00, 0.0, -0.20, 0.98)),
    (name:"ShoulderR", rotation:( 0.00, 0.0,  0.20, 0.98)),
  ]
)
