BlockPose(
  parts: [
    (name:"Neck1", rotation:(0.0, 0.0, 0.0, 1.0)),
    (name:"Neck2", rotation:(0.0, 0.0, 0.0, 1.0)),
    (name:"Head",  rotation:(-0.1, 0.0, 0.0, 0.99)),   // усталость, «опустил»
    (name:"Torso", rotation:(0.0, 0.0, 0.0, 1.0)),
    (name:"ShoulderL", rotation:(0.0, 0.0, -0.1, 0.99)),
    (name:"ShoulderR", rotation:(0.0, 0.0,  0.1, 0.99)),
  ]
)
