BlockPose(
  parts: [
    (name:"Torso",     rotation:(-0.087, 0.0, 0.0, 0.996), translation: (0.0, 0.0, 0.0) ),   // слегка назад
    (name:"ShoulderL", rotation:(0.0, 0.0, -0.087, 0.996), translation: (0.0, 0.0, 0.0) ),   // чуть ближе к телу
    (name:"ShoulderR", rotation:(0.0, 0.0,  0.087, 0.996), translation: (0.0, 0.0, 0.0) ),
    (name:"Neck1",     rotation:(0.087, 0.0, 0.0, 0.996), translation: (0.0, 0.0, 0.0) ),    // голова чуть вверх
  ]
)
